extends layout

block content
    center
        h1 Ajout d'une offre
          form(name='addOffer',method='post',action='../offres/addOffer')
            div.row
              div(class='6u 12u$(mobile)')
                |
                br
                input(type='text',placeholder='Nom de l\'évènement',name='nameEvent')
              div(class='6u 12u$(mobile)')
                |
                br
                input(type='text',placeholder='Type de l\'évènement',name='typeEvent')
              div(class='6u$ 2u$(mobile)')
                input(type='text',placeholder='Date de début', name='dateBegin')
              div(class='6u 12u$(mobile)')
                input(type='text',placeholder='Durée de l\'offre',name='nbDays')
              div(class='6u 12u$(mobile)')
                input(type='text',placeholder='Rôle demandé',name='demandRole')
              div(class='12u$')
                |
                br
                input(type='submit')
