extends layout

block content
    div#main
        section(id='ListCandidacy', class='four')
            div.container
                header
                  center
                    h2= title
                    br
                    table
                        div.row
                            div(class='6u 12u$(mobile)')
                                tr
                                    th Nom de l'évènement
                                    th Nom
                                    th Prénom
                                    th Role
                                    th Etat
                            div(class='6u 12u$(mobile)')
                                tr
                                    each candidature, i in candidatures
                                        tr
                                            td
                                                each offre in candidature.offre
                                                    =offre.nameEvent
                                            td
                                                each figurant in candidature.figurant
                                                    =figurant.surName
                                            td
                                                each figurant in candidature.figurant
                                                    =figurant.firstName
                                            td
                                                each offre in candidature.offre
                                                    =offre.demandRole
                                            td
                                                form(action="../candidatures/update/"+candidature._id, method="post")
                                                    select(name="etat")
                                                        option(value = candidature.etat)
                                                            = candidature.etat
                                                        each val in ['Waiting','Accepted','Refuse','Retained','Completed']
                                                            if val != candidature.etat
                                                                option(value = val)
                                                                    =val
                                                    input(type="submit" value="Modifier" style="left:100px;")
                footer
