extends layout

block content
    center     
        h1 Liste des figurants 
        table
            th Nom
            th Prénom
            th Email
            th 
            th
            each figurant, i in figurants
                tr
                    td= figurant.surName
                    td= figurant.firstName
                    td= figurant.email
                    td
                            form(name='remFigurant',method='post',action='../figurants/remFigurant')
                                button(name='id', type='submit', value=figurant._id) Supprimer
                    td
                            form(name='updateFigurant',method='post',action='../figurants/updateFigurant')
                                button(name='id', type='submit', value=figurant._id) Modifier
        h4
            a(href='/figurants/insertFigurant') &nbsp;Ajouter un figurant