extends layout

block content

  div#main
    div.inner
      header
      center
         if user
           p Bienvenue #{user.username}
           a(href='/logout') Logout
         else
           a(href='/login')  Login  
         h1 Le site pour faire de la figuration.
         section.tiles
          article.style1
            span.image
              img(src='images/pic01.jpg' alt='')
            a(href='/figurants')
              h2 Figurants
              div.content
                p Figurants souhaitant postuler à l'offre.

          article.style2
            span.image
              img(src='images/pic02.jpg' alt='')
            a(href='/offres')
              h2 Offres
              div.content
                p Candidatures pour l'offre.

          article.style3
            span.image
              img(src='images/pic03.jpg' alt='')
            a(href='/candidatures')
              h2 Candidature
              div.content
                p Pour s'inscrire à une offre
      
