extends layout

block content     
      header
            center
                  h2.alt Insertion d'un utilisateur
                  br
                  form(name='addFigurant',method='post',action='../figurants/addFigurant')
                        div.row
                              div(class='6u$ 12u$')
                                    input(type="text", placeholder="Nom", name="nom")
                              div(class='6u$ 12u$')
                                    input(type='text',placeholder='Prénom',name='prenom')
                              div(class='6u$ 12u$')
                                    input(type="text", placeholder="Email", name="email")
                              div(class='12u$')
                                    input(type='submit')