doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/assets/css/main.css')
  body
    div#wrapper
      header#header
        div.inner
          span(class='logo')
            img(src='images/logo.svg', alt='')
            h1 CastJs
      block content

      footer#footer
        div.inner
          ul.copyright
            li
              p &copy;Untitled. All rights reserved |
                a(href='http://html5up.net/phantom') &nbsp; HTML 5 Phantom
                
    script(src='/assets/js/jquery.min.js')
    script(src='/assets/js/skel.min.js')
    script(src='/assets/js/util.js')
    script(src='/assets/js/main.js')
