extends layout

block content
    section(id='contact', class='four')
      div.container
        header
         center
          h2.alt Connexion utilisateur 
          br
          form(action="/login", method="post")
            div.row
              div(class='6u 12u$(mobile)')
                input(type='text', name="username", placeholder='Login')
              div(class='6u$ 12u$(mobile)')
                input(type='password', name="password", placeholder='Mot de passe')
              div(class='12u$')
                input(type='submit')