extends layout

block content
    center     
        h1 Liste des offres 
        table
          th Nom
          th Type
          th Date de début
          th Durée
          th Role demandé
          th
          th
          each offre, i in offres
              tr
                td= offre.nameEvent
                td= offre.typeEvent 
                td= offre.dateBegin
                td= offre.nbDays
                td= offre.demandRole
                td
                    form(name='delOffers',method='post',action='../offres/delOffers')
                      button(name='id', type='submit', value= offre._id) supprimer
                td
                    form(name='updateOffers',method='post',action='../offres/updateOffers')
                      button(name='id', type='submit', value=offre._id) modifier



        a(href='/offres/addOffers', class='button scrolly') Ajouter une offre
              
              
