extends layout

block content
    center
        h1 Modification de l'offre  
        each updateOffer, i in updateOffers
          form(name='modificationOffers',method='post',action='../offres/modificationOffers')
            div.row
              div(class='6u 12u$(mobile)')
                |
                br
                input(type='text',value=updateOffer.nameEvent ,name='nameEvent')
              div(class='6u 12u$(mobile)')
                |
                br
                input(type='text',value=updateOffer.typeEvent,name='typeEvent')
              div(class='6u 12u$(mobile)')
                input(type='text',value=updateOffer.nbDays,name='nbDays')
              div(class='6u 12u$(mobile)')
                input(type='text',value=updateOffer.demandRole,name='demandRole')
              div(class='6u$ 2u$(mobile)')
                input(type='text',value=updateOffer.dateBegin, name='dateBegin')
              div(class='12u$')
                |
                br
                button(name='id', type='submit', value=updateOffer._id) Modifier
                  
