extends layout

block content
    center
        h1 Modification de l'offre  
        each updateFigurant, i in updateFigurants
          form(name='modificationFigurant',method='post',action='../figurants/modificationFigurant')
            div.row
              div(class='6u 12u$(mobile)')
                |
                br
                input(type='text',value=updateFigurant.surName ,name='surName')
              div(class='6u 12u$(mobile)')
                |
                br
                input(type='text',value=updateFigurant.firstName,name='firstName')
              div(class='6u 12u$(mobile)')
                input(type='text',value=updateFigurant.email,name='email')
                |
                br
                button(name='id', type='submit', value=updateFigurant._id) Modifier